@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --main-bg-color: #E9E9E9;
    --primary-text-color: #424242;
    --accent-color: #FF3F3C;
}

body{
    background: var(--main-bg-color);
    color: var(--primary-text-color);
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

header{
    padding: 20px;
    margin-bottom: 100px;
}

header h1{
    margin: 0;
    font-weight: normal;
}

main{
    background: url('Polaroid.png') no-repeat center 100px;
    margin: 0 auto;
    width: 1000px;
}

.hero{
    text-align: center;
    min-height: 800px;
}

.hero h2{
    font-size: 9em;
    line-height: 1em;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 100px;
}

.details ul li {
    list-style-type: none;
    margin: 10px 0;
    padding: 0 0 0 35px;
}

.details ul li.wifi{
    background: url('wifi-solid 1.png') no-repeat center left;
}

.details ul li.cloud{
    background: url('cloud-arrow-up-solid 1.png') no-repeat center left;
}

.details ul li.QR{
    background: url('qrcode-solid 1.png') no-repeat center left;
}

.details ul li.share{
    background: url('photo-film-solid 1.png') no-repeat center left;
}